@use "sass:math";
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'mexins';
@import 'global';
@import 'libs';

// исправить все !!!
// сделать по  2 формуле на 45%

// провисать ограничение текста не обязательно

// reviews проблема с иконками на 320!!!
// наверное только делать по 2 формуле на 45% отсталось если не делать все идеально
// прпробывать 3 способ верски + flex deraction


// наверное надо удалить весь адаптив и сделать заного и тогда и 45% тоже
// доделать версию и исправить мал проблемы
// протестить резиновою верстку на контент кортинок растягивается или нет

// версия на flex c длинной сеткой
// в этом блоке можно убрать часть кода для других версий и именно много было flex galery


.header {
    padding: rem(30) 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: transparent;
    align-items: center;
}

.header-fixed {
    background-color: silver;
}

.link-active {
    color: #2E96FF;
}

.menu {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("grid-gap", 35, 20);

    &__img {
        width: rem(85);
        height: rem(40);
        object-fit: contain;
        line-height: 0;
    }

    &__btn {
        display: none;

        @media (max-width: 992px) {
            order: 1;
            border: none;
            width: 23px;
            height: 16px;
            position: relative;
            display: grid;
            align-items: center;
            background-color: transparent;
            padding: 0;
            z-index: 10;

            &.active span {
                transform: scale(0);
            }

            &.active:before {
                transform: rotate(45deg);
                top: 9px;
            }

            &.active::after {
                transform: rotate(-45deg);
                bottom: 4px;
            }

            span,
            &::before,
            &::after {
                transition: all 0.5s;
                position: absolute;
                content: '';
                height: 3px;
                width: 100%;
                background-color: $black;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptiveValue("gap", 55, 20);

        @media (max-width: 992px) {
            transform: translateY(-200%);
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            flex-direction: column;
            z-index: 5;
            background-color: #edf1f4;
            transition: transform 1s;
            padding: rem(100) 0 rem(100);

            &.active {
                transform: translateY(0%);
            }
        }
    }

    &__item {
        text-align: center;
        transition: color .5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }
    }

    &__link {
        display: block;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptiveValue("gap", 40, 20);
    }

    &__button {
        border: none;
        background-color: transparent;
        line-height: 0;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {

            text,
            path {
                fill: $hover;
            }
        }

        &:active {
            color: $active;
        }
    }
}

.intro {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: rem(950);
        height: 100vh;
        background-image: url('../images/icons/rectangle-big.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;
    }

    &__wrapper {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 992px) {
            flex-direction: column-reverse;
        }
    }

    &__box {
        @media (max-width: 992px) {
            grid-row-start: 2;
        }
    }

    &__title {
        font-size: rem(100);
        font-weight: 700;
        line-height: 1.2;
        @include adaptiveValue("margin-bottom", 120, 20);

        @media (max-width: 768px) {
            font-size: 7rem;
        }

        @media (max-width: 576px) {
            font-size: 4rem;
        }
    }


    &__img {
        width: rem(650);
        height: rem(510);
        object-fit: contain;

        @media (max-width: 992px) {
            margin: 0 auto;
        }
    }
}

.quality {
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px; //нужен
    }

    &__item {
        text-align: center;
        border-radius: 8px;
        background-color: $white;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.10);
    }

    &__images {
        position: absolute;
        top: rem(-26);
        left: 50%;
        transform: translateX(-50%);
        clip-path: url(#mask4);
        width: 63px;
        height: 54px;
        display: flex;
        justify-content: center; //возможно по другому через абсолют
        align-items: center;

        @media (max-width: 1200px) {
            clip-path: inherit;
            width: rem(63); //для клип патх
            height: rem(54);
        }

        &--bowl {
            background-color: rgb(91%, 77%, 65%, .15);
        }

        &--bowl2 {
            background-color: rgb(42%, 67%, 31%, .15);
        }

        &--bowl3 {
            background-color: rgb(99%, 75%, 14%, .15);
        }
    }

    &__img {
        width: rem(35);
        height: rem(35);
        object-fit: cover;
    }

    &__subtitle {
        color: $black;
        font-family: Poppins;
        font-size: rem(25);
        max-width: rem(270);
        margin: 0 auto rem(10);
    }

    &__text {
        color: $black;
        max-width: rem(250);
        margin: 0 auto rem(25);
    }

    &__subtext {
        color: $orange;
    }

    &__link {
        transition: color 0.5s;
        display: block;
        padding: 40px 25px;

        &:focus {
            color: $focus;
        }

        &:hover {
            .quality__subtext {
                color: $hover;
            }
        }

        &:active {
            color: $active;
        }
    }
}

.popular {
    &__title {
        text-align: center;
        font-size: 3.2rem;
        font-weight: 500;
        max-width: rem(300);
        margin: 0 auto rem(20);
    }

    &__text {
        color: $black;
        text-align: center;
        max-width: rem(505);
        margin: 0 auto rem(25);
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;

        &--details {
            color: $orange;
            margin: 0 auto;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include adaptiveValue("row-gap", 65, 20);
        @include adaptiveValue("grid-column-gap", 30, 20);
        margin-bottom: rem(65);

        @media (max-width: 992px) {
            grid-column-gap: 20px;
        }

        @media (max-width: 768px) {
            grid-column-gap: 105px;
        }
    }

    &__article {
        cursor: pointer;
        text-align: center;
        transition: opacity .5s;

        &--small {
            max-width: 360px; //удалить лишний модификатор в других версиях!!
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 0.15;
        }

        &:active {
            color: $active;
        }
    }

    &__images {
        background-color: #FCF2EB;
        @include adaptiveValue("padding-bottom", 70, 20);
        @include adaptiveValue("padding-top", 70, 20);
        @include adaptiveValue("padding-left", 90, 10);
        @include adaptiveValue("padding-right", 90, 10);
    }

    &__big {
        object-fit: contain;
        width: rem(300);
        height: rem(300);
    }

    &__small {
        object-fit: contain;
        width: rem(200);
        height: rem(200);
    }

    &__box {
        padding-bottom: rem(25);
        padding-top: rem(25);
    }

    &__subtitle {
        color: $black;
        font-family: Poppins;
        font-size: rem(25);
        font-weight: 500;
    }

    &__wrap {
        text-align: center;
    }

    &__view {
        color: $orange;
        display: inline-block;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }
    }
}

.adoption {
    &__wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px; //иожет быть скролл

        @media (max-width: 768px) {
            display: block;
            text-align: center;
        }
    }

    &__img {
        width: 670px;
        height: 630px;
        object-fit: cover;
        object-position: -23px 57px;
        clip-path: url(#mask2);

        @media (max-width: 1200px) {
            clip-path: none;
            object-position: -110px 0;
            width: 67rem; //для клип патх
            height: 63rem;
        }

        @media (max-width: 992px) {
            width: 40%;
        }

        @media (max-width: 768px) {
            margin-bottom: 20px;
            width: 100%;
        }
    }

    &__box {
        max-width: rem(445);
        margin-left: auto;

        @media (max-width: 992px) {
            width: 60%;
        }

        @media (max-width: 768px) {
            margin: 0 auto;
            width: 100%;
            max-width: 100%;
        }
    }

    &__pretext {
        color: $orange;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: 3.2px;
        text-transform: uppercase;
        margin-bottom: rem(5);
    }

    &__title {
        font-size: rem(32);
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: rem(20);
    }

    &__text {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: rem(40);
    }
}

.subscription {
    &__title {
        text-align: center;
        font-size: rem(32);
        font-weight: 500;
        line-height: 1.4;
        max-width: rem(400);
        margin: 0 auto rem(35);
    }

    &__items {
        @include adaptiveValue("margin-bottom", 50, 20);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__item {
        text-align: center;
        border-radius: 8px;
        background-color: $white;
        position: relative;
    }

    &__link {
        transition: color 0.5s;
        display: block;

        &:focus {
            color: $focus;
        }

        &:hover {
            .subscription__subtext {
                color: $hover;
            }
        }

        &:active {
            color: $active;
        }
    }

    &__img {
        width: 315px;
        height: 270px;
        clip-path: url(#mask3);
        object-fit: cover;

        @media (max-width: 576px) {
            clip-path: inherit;
        }

        &--dog2,
        &--dog3 {
            object-position: right;
        }

        &--dog1 {
            object-position: left;
        }
    }

    &__subtitle {
        color: $black;
        font-family: Poppins;
        font-size: rem(25);
        max-width: rem(270);
        margin: 0 auto rem(10);
    }

    &__text {
        color: $black;
        max-width: rem(250);
        margin: 0 auto rem(25);
    }

    &__subtext {
        color: $orange;
    }

    &__btn {
        display: grid;
        margin: 0 auto;
        background-color: $orange;
        border: none;
        color: $white;
        padding-bottom: rem(12);
        padding-top: rem(12);
        padding-left: rem(30);
        padding-right: rem(30);
        border-radius: 24px;
        transition: opacity 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            color: $active;
        }
    }
}



.gallery {
    &__wrapper {
        display: flex;
        justify-content: center;
        @include adaptiveValue("gap", 30, 20);

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__left {
        max-width: rem(555); // скорей всего удалить весь лефт с ксс
        @media (max-width: 576px) {
            width: 100%;
            max-width: 100%;
        }
    }

    &__title {
        text-align: center;
        font-size: rem(32);
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: rem(10);
    }

    &__text {
        color: $black;
        text-align: center;
        margin-bottom: rem(45);
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include adaptiveValue("gap", 30, 20);
    }

    &__item {
        border-radius: 5px;
        transition: opacity .5s;
        cursor: pointer;
        @media (max-width: 576px) {
            width: 100%;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 0.15;
        }

        &:active {
            color: $active;
        }

        &--1 {
            background-color: rgb(56%, 4%, 3%, 0.1);
        }

        &--2 {
            background-color: rgb(14%, 24%, 49%, 0.1);
        }

        &--3 {
            background-color: rgb(50%, 0%, 15%, 0.1);
        }

        &--4 {
            background-color: rgb(77%, 55%, 68%, 0.1);
        }

        &--5 {
            background-color: rgb(77%, 8%, 29%, 0.1);
        }
    }

    &__link {
        display: flex;
        padding-bottom: rem(30);
        padding-top: rem(30);
        padding-left: rem(25);
        padding-right: rem(25);

        @media (max-width: 576px) {
            justify-content: center;
        }

        &--5 {
            padding-bottom: rem(45);
            padding-top: rem(40);
            padding-left: rem(45);
            padding-right: rem(45);
        }
    }

    &__img {
        width: rem(210);
        height: rem(110);
        object-fit: contain;

        &--big {
            width: rem(465);
            height: rem(425);
        }
    }
}

.reviews {
    &__title {
        text-align: center;
        font-size: rem(32);
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: rem(40);
    }
}

.trust {
    &__slider {
        max-width: rem(555);
        margin: 0 auto;
    }

    &__item {
        max-width: rem(555);
        text-align: center;
        padding: rem(30);
        position: relative;
        border: 2px solid rgba(0, 0, 0, 0.29);
        border-radius: 10px;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.06);

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: rem(35);
            width: rem(40);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &::before {
            top: 10%;
            left: 5%;
            background-image: url('../images/icons/quotes-bottom.svg');
        }

        &::after {
            bottom: 10%;
            right: 5%;
            background-image: url('../images/icons/quotes-top.svg');
        }
    }

    &__img {
        width: rem(30);
        height: rem(30);
        margin: 0 auto rem(20);

    }

    &__text {
        margin-bottom: rem(20);
        max-width: rem(495);
    }

    &__subtitle {
        color: $black;
    }

    &__subtext {
        color: $black;
        font-size: rem(12);
        font-weight: 400;
        line-height: 2;
    }
}

// звезды
.jq-ry-container {
    margin: 0 auto rem(25);
}

// слайдер
.slick-prev,
.slick-next {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 25%;
    right: -10%;
    line-height: 0;

    @media (max-width: 576px) {
        bottom: -20%;
        right: inherit;
    }
}

.slick-next {
    bottom: 4%;
    transform: rotate(180deg);

    @media (max-width: 576px) {
        right: 35%;
        transform: rotate(90deg);
    }
}

.slick-prev {
    @media (max-width: 576px) {
        right: 57%;
        transform: rotate(-90deg);
    }
}

.slick-disabled {
    opacity: .5;
}

// конец слайдера

.prints {
    &__wrapper {
        clip-path: polygon(0 6%, 100% 0%, 100% 93%, 0 100%);
        background-color: #2E96FF;
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("padding-bottom", 100, 20);
        @include adaptiveValue("padding-top", 100, 20);
        @include adaptiveValue("padding-left", 65, 20);
        @include adaptiveValue("padding-right", 65, 20);
        @include adaptiveValue("gap", 100, 10);

        @media (max-width: 768px) {
            display: block; // лутьше грид
        }
    }

    &__item {
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    &__title {
        color: $white;
        font-family: Poppins;
        font-size: rem(31);
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: rem(15);
    }

    &__text {
        color: $white;
    }
}

.form {
    display: flex; //просто для двух калонок

    &__input {
        width: rem(370);
        padding: rem(15);
        height: rem(70);
        border-radius: 10px 0 0 10px;
        background-color: $white;
        border: none;

        &::placeholder {
            color: $black;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__btn {
        padding: 1.5rem 3.7rem; //решл в rem
        color: $white;
        font-size: rem(18);
        font-weight: 500;
        line-height: 2.2;
        border-radius: 0 10px 10px 0;
        background-color: $orange;
        border: none;
        transition: opacity .5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: .8;
        }

        &:active {
            color: $active;
        }
    }
}

.footer {
    background-color: #140A03;
    color: $white;
    padding-bottom: rem(60);
    padding-top: rem(60);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: rem(-60);
        left: 50%;
        transform: translateX(-50%);
        height: rem(60);
        width: rem(730);
        background-image: url('../images/icons/rectangle-small.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (max-width: 1200px) {
            top: rem(-50);
        }

        @media (max-width: 576px) {
            width: 100%;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 80px;

        @media (max-width: 768px) {
            height: 100%;
            justify-content: center;
        }

        @media (max-width: 576px) {
            @include adaptiveValue("gap", 220, 20);
        }
    }

    &__items {
        align-self: center;

        @media (max-width: 576px) {
            width: 100%;
            text-align: center;
        }

        &--care {
            text-align: right; //не было

            @media (max-width: 768px) {
                order: -1;
                text-align: left;
            }
        }
    }

    &__box {
        align-self: Start;
        max-width: rem(180); //возможно в др сборках надо!!
        margin-right: rem(140);

        @media (max-width: 768px) {
            margin-right: 0;
        }

        @media (max-width: 576px) {
            order: -1;
        }
    }

    &__img {
        margin-top: 5px;
        width: rem(180);
        height: rem(95);
        object-fit: cover;
        margin-bottom: rem(65);
        display: block;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(35);
        }
    }

    &__link {
        display: inline;
        transition: color .5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }

        &--mail {
            color: $orange;
        }
    }
}

.social {
    display: flex;
    justify-content: space-between;
    gap: rem(25);

    &__link {
        background-color: #DFDFDF;
        border-radius: 50%;
        width: rem(40);
        height: rem(40);
        display: grid;
        place-content: center;
        transition: background-color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            background-color: $hover;
        }

        &:active {
            color: $active;
        }
    }
}